.header{
  background-color: blanchedalmond;
  border-radius: 3px;  
  padding: 10px;

}


.form__entry {
   padding: 10px;
   margin: 10px;
   border: 10px;

}

.button {
  border: none;
  color: rgb(36, 176, 57);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid ;
}